In [119]:
import pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference
import string

In [120]:
data = pd.read_excel('supermarket_sales.xlsx', engine='openpyxl')
data.columns
data[['Customer type', 'Product line', 'Total']]

    Customer type            Product line      Total
0          Member       Health and beauty   548.9715
1          Normal  Electronic accessories    80.2200
2          Normal      Home and lifestyle   340.5255
3          Member       Health and beauty   489.0480
4          Normal       Sports and travel   634.3785
..            ...                     ...        ...
995        Normal       Health and beauty    42.3675
996        Normal      Home and lifestyle  1022.4900
997        Member      Food and beverages    33.4320
998        Normal      Home and lifestyle    69.1110
999        Member     Fashion accessories   649.2990

[1000 rows x 3 columns]

In [121]:
report_table = data.pivot_table(index='Customer type',
                               columns = 'Product line',
                               values = 'Total',
                               aggfunc= 'sum').round(0)
print(report_table)

Product line   Electronic accessories  Fashion accessories  \
Customer type
Member                        24498.0              26324.0
Normal                        29839.0              27982.0

Product line   Food and beverages  Health and beauty  Home and lifestyle  \
Customer type
Member                    31358.0            25831.0             27978.0
Normal                    24787.0            23363.0             25884.0

Product line   Sports and travel
Customer type
Member                   28234.0
Normal                   26889.0

In [122]:
report_table.to_excel('reported.xlsx',
                     sheet_name = 'Report',
                     startrow=4)

In [125]:
wb = load_workbook('reported.xlsx')
sheet = wb['Report']

min_column = wb.active.min_column
max_column = wb.active.max_column
min_row = wb.active.min_row
max_row = wb.active.max_row

print(min_column)
print(max_column)
print(min_row)
print(max_row)

1
7
5
7

In [127]:
wb = load_workbook('reported.xlsx')
sheet = wb['Report']

barchart = BarChart()

data = Reference(sheet,
                 min_col=min_column+1,
                 max_col=max_column,
                 min_row=min_row,
                 max_row=max_row)

categories = Reference(sheet,
                      min_col=min_column,
                      max_col=min_column,
                      min_row=min_row+1,
                      max_row=max_row)

barchart.add_data(data, titles_from_data=True)
barchart.set_categories(categories)

sheet.add_chart(barchart, "B12")

barchart.title = 'Sales by Product Line'
barchart.style = 5 
wb.save('reported.xlsx')